
   * {
    margin: 0;
    padding: 0;
   }
   .frame {
    box-sizing: border-box;

   }
   .frame{ 
    max-width: fit-content;
    top: 0;
    left: 600px;
    right: 600px;
    bottom: 20px;
    border:1px solid white;
}
.content {
    margin: 10px;
}
body {
    
    margin: 0;
    padding: 0;
    border :1px solid black; 
    border-radius: color white;
    padding: 300px;
    font-size:100%;
    background: #000222;
    margin-top: 20px;
    background: white;
    display: block;
} 
.aviva-group {
   height: 300px;
   font-size: 100%;
    background: white;
    text-align: left;
     background:#000222 ;
    display: block;
    margin-top: 20px;
}
p {
    margin-top: 20px;
}
img {

    width: 100px;
    display: block;
    margin: auto;
    margin-top: 20px;

}
.nav {
    text-align: right;
    padding: 20px;
;
}
h2 {
    color: white;
}
h3 {
    color: white;
    text-align:center;
    background:  #f3d705 ;
    width: 700px;
    height: 50px;
   
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;

}
.down {
    color: #000222; /* green*/
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}

.about { 
    background: white;
    display: block;
    border: white;
    font-size: medium;
    text-align: right;
    box-shadow: 0 0 4px black;
     min-height: 200px;
    max-width: 500px;
    background: white;
    display: block;
    color: white;
    text-align: center;
    background: white;
    margin: auto;
    display: block;
}
.h1{
    margin-top: 20px;
}
table, th, td{
    text color: white;
    background-color: blue;
    box-sizing: 500px;
    font-size: large;
    text color: white;
    background: blue;
    border: 1px solid;
    text-align: right;
    border-color: red;
}
.td {
    background :  white;
}
table {
    width: 100%;
    font-size: large;
}
td {
    color white;
    
}
.contacts {
    margin-top: 20px;
    text-align: left;

}
.go-up {
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;

}

.Tables {height: 300px;
    font-size: 100%;
     background: white;
     text-align: left;
      background: blue ;
     display: block;
     margin-top: 20px;

}
.copyright {
    height: 50px;
    font-size: 100%;
     background: white;
     text-align: center;
      background:#f3d705 ;
     display: block;
     margin-top:0;

}
h4 {
    color: white;
}